@font-face {
    font-family: "Arimo";
    src: url("../fonts/Arimo/Arimo-Regular.eot");
    src: url("../fonts/Arimo/Arimo-Regular.eot?iefix") format("eot"), url("../fonts/Arimo/Arimo-Regular.woff") format("woff"), url("../fonts/Arimo/Arimo-Regular.woff2") format("woff2"), url("../fonts/Arimo/Arimo-Regular.ttf") format("truetype"), url("../fonts/Arimo/Arimo-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Arimo";
    src: url("../fonts/Arimo/Arimo-Bold.eot");
    src: url("../fonts/Arimo/Arimo-Bold.eot?iefix") format("eot"), url("../fonts/Arimo/Arimo-Bold.woff") format("woff"), url("../fonts/Arimo/Arimo-Bold.woff2") format("woff2"), url("../fonts/Arimo/Arimo-Bold.ttf") format("truetype"), url("../fonts/Arimo/Arimo-Bold.svg") format("svg");
    font-weight: bold;
    font-style: normal;
}

