body {
    padding: 0;
    margin: 0;
    font-family: "Arimo", sans-serif;
    text-transform: uppercase;
    color: #484848;
    background-color: #3A4965;
}

.pricing-plan-text {
    font-size: 30px;
    font-weight: bold;
}

.tab-title-text {
    font-weight: bold;
    font-size: 18px;
}

.column-title-white-small {
    color: white;
    font-size: 24px;
}

.column-title-white-large {
    color: white;
    font-size: 36px;
}

.wrapper {
    max-width: 1192px;
    padding: 20px 20px 30px;
    margin: 0 auto;
}

.main-table {
    width: 100%;
    background-color: #FAFAFA;
    border-collapse: collapse;
}

td, th {
    padding: 22px;
    box-shadow: -7px 0 8px -8px rgba(0, 0, 0, 0.3);
    /* box-shadow: 1px 0px 0 rgba(0, 0, 0, 0.27); */
    text-align: center;
}

 td {
    width: 25%;
}  

.dark-grey {
    background-color: #E3E3E3;
}

.light-grey {
    background-color: #F2F2F2;
}

.column-is-green {
    background-color: #89C331;
}

.column-is-pink {
    background-color: #F04A56;
}

.column-is-blue {
    background-color: #20807C;
}

.row-name-icon {
    font-size: 23px;
    margin-right: 7px;
    color: #848484;
}

.row-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    width: 195px;
    max-width: 100%;
    color: white;
    padding: 13px 16px 8px;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 700;
    border-bottom: 5px solid;
}

.button-contact-us {
    background-color: #484848;
}

.button-green {
    background-color: #89C331;
    border-bottom-color: #79B027;
}

.button-black {
    background-color: #484848;
    border-bottom-color: #404040;
}

.button-pink {
    background-color:#F04A56;
    border-bottom-color: #DF3A46;
}

.button-blue {
    background-color: #20807C;
    border-bottom-color: #16736F;
}

.button:hover{
    border-bottom: none;
}

.price-value {
    font-size: 60px;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 2px;
}

.price-value-index {
    font-size: 24px;
    display: inline-block;
    text-align: left;
    margin: 5px;
}

.price-value-period {
    font-size: 18px;
    font-weight: normal;
    display: block;
}

